[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "3.*"
Scrapy = "2.*"
scrapy-selenium = "0.0.7"
scrapy-splash = "0.9.*"
selenium = "4.*"
pymongo = "4.*"
pysolr = "3.9.*"
beautifulsoup4 = "4.*"
bs4 = "*"
pandas = "2.*"
pydantic = "2.*"
pyperclip = "1.*"
fasteners = "0.*"
openpyxl = "3.*"
python-decouple = "3.*"
azure-common = "*"
azure-core = "*"
azure-storage-blob = "*"
azure-storage-file-share = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
azure-mgmt-containerinstance = "*"
azure-mgmt-core = "*"
azure-mgmt-resource = "*"
azure-storage-queue = "*"
psutil = "*"
slack-sdk = "3.*"
prefect-docker = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
black = "*"
isort = "*"
sphinx = "*"
jupyter = "*"

[requires]
python_version = "3.10"
